/* REGOLE GENERALI */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.white {
  color: white;
}

.gray {
  color: gray;
  margin-left: 2px;
}


/* REGOLE HEADER */
header {
  width: 250px;
  flex-basis: 100vh;
  background-color: black;
  display: flex;
}

header .container h1, header .container h2{
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.lime {
  border-left: 2px solid lime;
  padding-left: 5px;
}

.row.playlist h4, .row.playlist h1{
  display: inline-block;
  line-height: 63px;
}


#piep {
  line-height: 57px;
  align-self: flex-end;
  border-bottom: 1px solid gray;
  padding: 0 auto;
}

.row.piep p{
  margin-right: 5px;
}

#account {
  align-self: flex-end;
}
