/* REGOLE GENERALI */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.white {
  color: white;
}

.gray {
  color: gray;
}


/* REGOLE HEADER */
header {
  width: 250px;
  flex-basis: 100vh;
  background-color: black;
}

header .container h1, header .container h2{
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.lime {
  border-left: 2px solid lime;
  padding-left: 5px;
}
