/* REGOLE GENERALI */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

section .container:nth-child(2) {
  justify-content: space-between;
}

.esperimento{
  content: "";
  clear: both;
  display: table;
}

.row{
  margin: 0;
}

.spazio {
  margin-left: 15px;
}

.distanza {
  margin-top: 10px;
  margin-bottom: 10px;
}

.white {
  color: white;
}

.gray {
  color: gray;
  margin-left: 2px;
}

.center {
  text-align: center;
}

.mainBK {
  background-color: rgb(20, 25, 34);
}

main {
  width: calc(100% - 250px);
  height: 90vh;
  float: right;
  overflow: auto;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 38px;
}

h3{
  font-size: 33px;
}

h4{
  font-size: 26px;
}

h5{
  font-size: 24px;
}

h6{
  font-size: 19px;
}

a {
  text-decoration: none;
}

















/* REGOLE HEADER */
header {
  width: 250px;
  height: 90vh;
  background-color: black;
  float: left;
  display: flex;
}

header .container {
  display: flex;
  flex-direction: column;
}

header .row {
  margin: 15px;
}

header ul {
  list-style: none;
}

header li {
  margin: 15px 0;
  font-size: 20px;
}

header .container h1, header .container h2{
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.stp-list{
  flex-grow: 1;
  overflow: auto;
}

.stp-playlist h3, .stp-playlist h4{
  display: inline-block;
  vertical-align: middle;
}

.lime {
  border-left: 2px solid lime;
  padding-left: 5px;
}

.playlist h4, .row.playlist h1{
  display: inline-block;
}


#piep {
  line-height: 40px;
  align-self: flex-end;
  border-bottom: 1px solid gray;
  height: 40px;
  align-self: flex-end;
}

.row.piep p{
  display: inline-block;
}



/* regole per il piè di pagina dell'header */

.testata p, .Jhon{
  display: inline-block;
  line-height: 40px;
}

#account {
  background-color: gray;
  background-image: url("../img/profile.svg");
  background-position: center;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
}

header .row:last-child {

}

header .row:last-child h5{
  vertical-align: middle;
  margin-left: 10px;
}






/* regole op */
#opaco {
  content: "";
  clear: both;
  display: table;
}

#opaco .container {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  background-color: rgba(0, 0, 0, 0.7);
}

#opaco .row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

#tasto {
  border: 1px solid white;
  border-radius: 20px;
  background: none;
  margin-right: 15px;
  padding: 10px;
  color: white;
}


/* regole selection */
#selection{
  text-align: center;
  padding-top: 65px;
  padding-bottom: 20px;
}

#selection ul {
  margin-bottom: 0;
}

#selection ul li {
  display: inline-block;
  margin: 20px 15px;
}


/* REGOLE RECENTLY */
#recently {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

#recently .container {
  padding: 25px 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.music{
  width: 200px;
  text-align: center;
  align-content: space-around;
}

.mbox img{
  height: 200px;
  width: 200px;
}

.text{
  padding: 10px 0;
}



/* regole creatoper */
#creatoper {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

#creatoper .container {
  padding: 25px 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

#creatoper .container:nth-child(2) {
  justify-content: flex-start;
}

#creatoper .music {
  margin-right: 5%;
}












/* REGOLE FOOTER */
/* footer {
  background-color: red;
  height: 10vh;
  width: 100%;
  justify-content: flex-end;
} */
